div.registerForm-container form{
    border:1px solid silver;
    padding: 1%;
    border-radius: 10px;
    margin:0 20% 0 20%;
}

.input-group {
    margin-bottom: 0.5em;
}

.input-group label {
    display:block;
    font-size: smaller;
    font-weight:lighter;
    font-style:italic;
}

.input-group input {
    width:98%;
    border-radius:5px;
    font-size: small;
}