/* ======== Grid =======*/
.photo-block {
    text-align: center;
    border: 1px solid rgb(37, 36, 36);
    border-radius: 3%;
    padding: .2em;
}

div.photo-header-block{
    font-family: monospace;
    font-size: large;
}

h2.photo-title {
    text-decoration: underline;
}

.gallery-container{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 0.5%;
}

img.photo-image{
    max-height: 250px;
    max-width: 96%;
}