div.navigation {
    margin-top: .5em;
}

div.navigation a:link,div.navigation a:visited, a#upload:link,a#upload:visited,button.btnEdit, button.btnDelete {
    border: 1px dashed black;
    padding: .15em;
    color: black;
    background-color: gainsboro;
    text-decoration: none;
    display: inline-block;
    min-width: 100px;
    border-radius: 10px;
    font-size: small;
}